*.db
veritabani.db
__pycache__/
venv/
.vscode/
.env
pyrightconfig.json
.duzeltilmesi-gerekenler.txt
.sustainability.txt
sustainability_old_26_04_2026.txt
.run.py
fix_sqlite.py
baslat.bat
.deprecated_monolith/
agent.md
structure.txt
.agents/